{% trans_default_domain 'FotoJoinUserBundle' %}

{% block credential %}
<div id="credential" class="hidden-xs hidden-sm">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    {% set profilephotourl = vich_uploader_asset(user, 'profilephoto', 'FotoJoin\\UserBundle\\Entity\\User') %}{% if profilephotourl is null %}{% set profilephotourl = '/uploads/profilephoto/default.png' %}{% endif %}
                    <img class="media-object" src="{{ profilephotourl|imagine_filter('user_credential_small') }}" />
                </div>
                <div class="media-body">
                    {% if user.name %}<h3 class="media-heading">{{ user.name }}</h3>{% endif %}
                    {% if user.level %}{% if user.level is not null %}<h4 class="media-heading">{{ user_level[user.level]|trans }}</h4>{% endif %}{% endif %}
                    {% if user.email %}<h5 class="media-heading">{{ user.email }}</h5>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
