{% block footer %}
    <div class="section" id="footer">
        <div class="container">
            <div class="row">
                <div class="w-col w-col-6">
                    <div class="logo-text footer">Registro Interesados</div>
                    <div class="footer-slogan">Enviaremos un solo correo electrónico.</div>
                    <div class="w-form newsletter-form">
{#}
                        <form class="w-clearfix" id="wf-form-newsletter" name="wf-form-newsletter" data-name="Newsletter">
                            <input class="w-input newsletter-field" id="email" type="email" placeholder="Correo Electronico" name="email" data-name="Email" required="required">
                            <input class="w-button newsletter-button" type="submit" value="Suscribirse" data-wait="Wait..." wait="Wait...">
                        </form>
{#}
                        <div class="w-form-done w-clearfix success-message">
                            <p>Thank you! You’ll receive an email shortly.</p>
                        </div>
                        <div class="w-form-fail w-clearfix">
                            <p>Oops! Something went wrong while submitting the form :(</p>
                        </div>
                    </div>
                    <div class="social-icon-group">
                        <a class="w-inline-block social-icon" href="#">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/560ff5ef0f388e9f0e530cc3/560ff5ef4244f09f0ec024f5_facebook-icon.svg">
                        </a>
                        <a class="w-inline-block social-icon" href="#">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/560ff5ef0f388e9f0e530cc3/560ff5ef4244f09f0ec024f2_twitter-icon.svg">
                        </a>
                        <a class="w-inline-block social-icon" href="#">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/560ff5ef0f388e9f0e530cc3/560ff5ef4244f09f0ec02501_email-icon-white.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}