{% block landing %}
    <div class="section" id="landing-home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p class="lead text-center">Somos el <b>PUNTO DE ENCUENTRO</b> entorno a la fotografía.</p>
                    <h2>Soy Fotógrafo</h2>
                    <p>Deseo crear un perfil, para subir mis fotos y ser evaluado por los visitantes, para así tener registro de mi progreso como artista y eventualmente ser contratado(a).</p>
                    <p>Si eres aficionado y buscas experiencia detrás de cámara, este es tu lugar. Profesionales, podrán ser contratados directamente.</p>
                    <p><a href="#" class="btn btn-success">Crear Cuenta</a></p>
                    <p><a href="#" class="btn btn-primary">Iniciar Sesión</a></p>
                </div>
                <div class="col-md-6 text-center">
                    <h2>Evaluar Fotos</h2>
                    <p>Cada foto de la plataforma, tiene un promedio histórico, mientras más cerca estés en tu evaluación, más puntos obtendrás (es un juego) y aquellos que sean más certeros podrán canjear un portafolio/book a cambio o cobertura del algún evento.</p>
                    <p><a href="#" class="btn btn-success">Crear Cuenta</a></p>
                    <p><a href="#" class="btn btn-primary">Iniciar Sesión</a></p>
                </div>
            </div>
            <p class="icon-down text-center"><a href="#home"><i class="fa fa-2x fa-chevron-down"></i></a></p>
        </div>
    </div>
{% endblock %}