{% block pricing %}
    <div class="section" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="text-center">Planes y Precios</h2>
                    <h4 class="text-center">No necesitamos tu tarjeta de crédito,&nbsp;<strong class="bold-text"></strong>30 días de garantía de devolución del dinero.</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Principiantes</h2>
                        </div>
                        <div class="panel-body">
                            <p class="price">Gratis</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Duración <b>6 Meses</b></li>
                            <li class="list-group-item">Carga <b>Limitada</b></li>
                            <li class="list-group-item">Filtro <b>Automático</b></li>
                            <li class="list-group-item">Estadísticas <b>Individuales</b></li>
                            <li class="list-group-item">Contacto <b>Limitado</b></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Entusiastas</h2>
                        </div>
                        <div class="panel-body">
                            <p class="price">CLP $6.990</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Duración <b>12 Meses</b></li>
                            <li class="list-group-item">Carga <b>Extendida</b></li>
                            <li class="list-group-item">Filtro <b>Configurable</b></li>
                            <li class="list-group-item">Estadísticas <b>Individuales</b></li>
                            <li class="list-group-item">Contacto <b>Limitado</b></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Profesionales</2>
                        </div>
                        <div class="panel-body">
                            <p class="price">CLP $9.990</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Duración <b>12 Meses</b></li>
                            <li class="list-group-item">Carga <b>Ilimitada</b></li>
                            <li class="list-group-item">Filtro <b>Configurable</b></li>
                            <li class="list-group-item">Estadísticas <b>Globales</b></li>
                            <li class="list-group-item">Contacto <b>Completo</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}