{% block footer %}
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <a class="footer-brand" href="{{ path('foto_join_front_page_homepage') }}"><i>Fotojoin</i></a>
                </div>

                <div class="col-xs-12 col-md-6">
                    <ul class="list-inline ul-top">
                        <li><a class="link-up" href="#" data-toggle="modal" data-target="#aboutUsModal">Sobre Nosotros</a></li>
                        <li><a class="link-up" href="#" data-toggle="modal" data-target="#developersModal">Desarrolladores</a></li>
                        {#}<li><a class="link-up" href="{{ path('foto_join_front_page_contact') }}">Contacto</a></li>{#}
                    </ul>

                    <ul class="list-inline ul-bottom">
                        <li><a class="link-bottom" href="#" data-toggle="modal" data-target="#termsModal">Términos y Condiciones</a></li>
                        <li><a class="link-bottom" href="#" data-toggle="modal" data-target="#privacyModal">Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="modal-footer">

            <div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>Sobre Nosotros</h3>
                            <hr>
                            <h4>1.- ¿Quiénes somos?</h4>
                            <p>FotoJoin es una comunidad de fotografía fundada por amantes de esta disciplina,  la cual le permite al usuario descubrir, compartir, vender y comprar fotografías de eventos considerados como inolvidables e inspiradores con el fin de conservar ese recuerdo en forma perpetua por medio de una fotografía de calidad.</p>
                            <h4>2.- ¿A quién nos dirigimos?</h4>
                            <p>FotoJoin se dirige a todos aquellos fotógrafos aficionados, experimentados y profesionales que no posean los recursos suficientes para difundir sus obras, o simplemente quienes quieran darse a conocer en el mundo de la fotografía un peldaño más arriba del mercado actual, es decir, bajo un profesionalismo que hoy en día parece estar decayendo gracias a la masividad de dispositivos útiles mas no profesionales.</p>
                            <h4>3.- ¿Dónde operamos?</h4>
                            <p>FotoJoin es una comunidad que actualmente se encuentra en desarrollo, pero se encuentra creciendo a pasos agigantados. Por esta razón es que operamos en territorio chileno, por su puesto con el afán de expandirse en un futuro a toda Latinoamérica.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="developersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>Desarrolladores</h3>
                            <hr>
                            <p>En FotoJoin hoy en día contamos con un pequeño pero creciente equipo de desarrollo que va desde el administrador, desarrollador web y editor del sitio. Esperamos en el futuro ofrecer al público funciones de desarrollador como lo es una aplicación para smartphones la cual le permitirá tener un completo control sobre sus fotografías además de llevar cuenta en tiempo real de cómo estas están siendo evaluadas. </p>
                            <p>¿Tienes una idea de aplicación y nos las quieres dar a conocer? No te preocupes, en FotoJoin estamos abiertos a recibir cualquier tipo de idea, para esto deberás leer la documentación y registrar tu aplicación con nosotros para así poder revisarla y analizarla y nos contactaremos contigo. Si la idea es aceptada serás bienvenido a participar con nosotros como uno de nuestros desarrolladores y lo más importante ser parte de esta creciente comunidad de fotógrafos.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>Términos y Condiciones</h3>
                            <hr>
                            <p>El siguiente documento muestra los términos y condiciones de uso del sitio web FotoJoin.com</p>
                            <p>Antes de usar los servicios de FotoJoin, se le recomienda al usuario la lectura, comprensión y acuerdo con estos términos. Sólo se le permitirá crear una cuenta por usuario luego de aceptar estos términos.</p>
                            <h4>1.- Términos de aceptación</h4>
                            <p>Por favor lea estos términos cuidadosamente antes de usar nuestros servicios. El uso de cualquiera de los servicios disponibles en FotoJoin le brinda el derecho de aceptar nuestras políticas de servicio. Si por algún motivo usted no llegase a aceptar estos términos podría no tener acceso al sitio.</p>
                            <h4>2.- Descripción del servicio</h4>
                            <p>FotoJoin es una comunidad la cual permite a fotógrafos aficionados, experimentados o profesionales que no posean los recursos para costearse sus propios medios de difusión, postear sus fotografías e imágenes con el fin de promover sus trabajos, compartir notas, opiniones e ideas bajo un sistema de evaluación de sus fotos realizada por ellos mismos, es decir, la comunidad de fotografía de FotoJoin. El servicio incluye diferentes planes. Un registro gratuito para los usuarios el cual le permitirá crear una cuenta gratis con una limitada cantidad de carga semanal, sin la posibilidad de vender, es decir, solo con el fin de mostrar sus fotografías y darse a conocer. Otro servicio ofrecido es el de realización de book. Este servicio consiste en la toma de fotos de las personas que han sido votadas en el sitio y quieran ser fotografiadas. De esta manera algún fotógrafo miembro de nuestra comunidad podrá fotografiar a estas personas y así lograr una membresía intermedia. Es importante destacar que la persona a fotografiar será designada por FotoJoin en base a la cantidad de votos obtenidos por aquella fotografía. Y finalmente se ofrece el plan de pago, este consiste en la carga y venta ilimitada de fotografías para los usuarios, dándoles a estos la facilidad de ordenar sus fotos por categoría de evaluación o relevancia según lo estime conveniente.</p>
                            <h4>3.- Registro</h4>
                            <p>Como condición para la utilización de nuestros servicios, se le requerirá crear una cuenta en FotoJoin con su correo electrónico y contraseña de su selección, además de proveer información de registro. Esta información debe ser completa y verdadera. El no cumplir con estas condiciones podría significar en el término inmediato de su cuenta FotoJoin.</p>
                            <p>Usted no podrá ingresar un email que no sea propio y que por algún motivo su nombre sea ofensivo, vulgar u obsceno.</p>
                            <p>Usted es responsable de mantener la confidencialidad de su contraseña, el mal uso de esta no será responsabilidad de FotoJoin. De igual manera ofrecemos restauración de contraseña en caso de cualquier eventualidad.</p>
                            <p>El registro está disponible para usuarios sin restricción de edad, sin embargo, se les advierte a padres y guardianes legales de menores de edad que FotoJoin acepta fotografías con la categoría de desnudo artístico, de este ser el caso, estas fotografías se encontrarán restringidas a usuarios mayores de 18 años.</p>
                            <p>El servicio está restringido a fotógrafos aficionados, experimentados o profesionales, las cuentas no podrán ser abiertas por galerías, agentes o intermediaros o entidades representantes de fotógrafos,  a menos que el usuario provea la autorización para dicha acción.</p>
                            <h4>4.- Conducta de usuario</h4>
                            <p>Todo el contenido ingresado al sitio es de única responsabilidad del usuario, sin embargo, FotoJoin prohíbe las siguientes conductas:</p>
                            <ul>
                            <li>Abuso, acoso, amenaza o intimidación a cualquier otro usuario</li>
                            <li>Posteo de contenido pornográfico, obsceno, abusivo u ofensivo</li>
                            <li>Posteo de contenido que infrinja las leyes de derecho de autor de cualquier otro artista o entidad</li>
                            <li>Crear o transmitir spam no deseado a cualquier usuario por medio de algún URL</li>
                            <li>Solicitar por cualquier medio de los datos de cuenta (email, contraseña) e información de cualquier usuario</li>
                            <li>Creación de múltiples cuentas con el fin de obtener más votos en alguna fotografía</li>
                            </ul>
                            <p>El no cumplimiento de estas condiciones podría significar la eliminación de su cuenta de usuario de FotoJoin.</p>
                            <h4>5.- Contenido enviado o puesto a disposición para su inclusión en el servicio</h4>
                            <p>Por favor lea cuidadosamente esta sección antes de postear cualquier contenido en FotoJoin. Usted, al postear contenido, nos otorga una no exclusiva licencia con derecho a publicar el contenido, sin embargo, el contenido sigue siendo de su autoría.</p>
                            <p>Sus fotografías preservarán cualquier tipo de derecho de autor  del usuario que estos tengan antes de ser subidas al sitio. FotoJoin protegerá este derecho de autor y no venderá sus fotos sin su consentimiento.</p>

                            <h4>6.- Polìticas de uso justo</h4>
                            <p>FotoJoin mantiene una política de uso justo para asegurar un servicio estable y seguro para todos nuestros usuarios.</p>
                            <p>Las cuentas gratuitas están limitadas a un máximo de XX nuevas fotografías por semana y XX en total (Aproximadamente XX gb de almacenamiento). Cualquier sobrepaso de contenido adicional podrá significar restricciones en su cuenta.</p>
                            <p>Las cuentas de pago no tendrán límite de nuevas fotografías subidas, esta opción tiene un almacenamiento de XX GB aproximadamente. O bien, se limita a un total de XX fotografías por semana con un almacenamiento ilimitado.</p>
                            <h4>7.- Tienda</h4>
                            <p>Inicialmente FotoJoin ofrece, en el caso que un usuario desee comprar una fotografía, el contacto directo vía email del fotógrafo que posee los derechos de esta, actuando de esta manera como intermediario. Sin embargo, en el futuro existirá la opción de carro de compra en forma directa desde el sitio web para aquellas fotografías que cumplan con los requisitos y satisfagan las necesidades de los usuarios interesados en la compra de estas.</p>
                            <h4>8.- Terminación</h4>
                            <p>Usted puede eliminar su cuenta de usuario en cualquier momento. De igual manera FotoJoin podrá eliminar su cuenta bajo las razones que estime necesarias (incumplimiento de términos y condiciones). Todas sus imágenes serán eliminadas junto con su cuenta.</p>
                            <h4>9.- Quejas sobre derechos de autor</h4>
                            <p>Como bien establecido anteriormente, FotoJoin respeta los derechos de autor de sus fotografías. Si existe alguna duda o queja al respecto por favor contactarnos por medio del sitio en el apartado "Contáctanos".</p>
                            <h4>10.- Lanzamiento e indemnización</h4>
                            <p>En el caso que exista cualquier eventualidad que conlleve la pérdida de las fotografías del usuario, FotoJoin solo se hace responsable si el usuario posee una cuenta de pago. De todas maneras, se le recomienda a todo usuario que posea su propio respaldo personal de sus fotografías.</p>
                            <h4>11.- Marcas registradas</h4>
                            <p>Gráficas, logos, diseños, encabezados de página, iconos, son marcas registradas. FotoJoin se reserva el uso de estas marcas.</p>

                            <h4>12.- Cambios en los términos</h4>
                            <p>FotoJoin se reserva el derecho de modificar, cambiar, o reemplazar los términos y condiciones en cualquier momento. Si estos cambios alteran el contenido del usuario, será notificado con anterioridad en el sitio web. Usted es responsable de familiarizarse con los nuevos términos y de su aceptación de así ser el caso.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>Privacidad</h3>
                            <hr>
                            <p>FotoJoin fue creado con el fin de ayudar a las personas a descubrir nuevas fotos y fotógrafos que deseen darse a conocer por este medio. Sabemos que te preocupa tu información personal, por esta razón nos tomamos en serio las políticas de privacidad. Al visitar el sitio FotoJoin.com, usted está aceptando las prácticas mostradas en esta política.</p>
                            <h4>1.- Información recopilada por FotoJoin</h4>
                            <p>Solo recolectamos información personal que es relevante para el propósito de nuestro sitio web. Esta información nos permite ofrecerle una experiencia eficiente y customizada. Recolectamos los siguientes tipos de información de nuestros usuarios:</p>
                            <ul>
                                <li>Información que usted nos brinda: Recibimos y almacenamos toda la información que usted, el usuario, nos brinda. En el caso que quiera vender sus fotografías es necesario que ingrese su información completa, en caso contrario no es necesario.
                                    <ul>
                                        <li>Registro: Para utilizar nuestros servicios usted debe completar el formulario de registro, requerimos de información personal. Si usted desea vender sus fotografías será necesario llenar el formulario por completo, en caso contrario se podrá prescindir de ingresar su dirección personal.</li>
                                        <li>Perfil de usuario: En este apartado se le permitirá agregar su foto de perfil y editar su información personal en cualquier momento, exceptuando su cédula de identidad.</li>
                                    </ul>
                                </li>
                                <li>Información automática: Recibimos y almacenamos información cuando el usuario navega por el sitio, esta llega en forma estadística mostrándonos en qué sección se encuentra el usuario, el tiempo que este visitó alguna fotografía y si el usuario votó o no por aquella foto.</li>
                            </ul>
                            <h4>2.- Comunicación vía email</h4>
                            <p>FotoJoin se preocupa de su privacidad, por lo tanto no expondrá su dirección de email a externos sin su consentimiento. Se le enviarán emails en caso de la necesidad de reposición de contraseñas, email de confirmación, email de contacto en el caso que un usuario quiera contactar a un fotógrafo, y si un usuario quiere estar al tanto de cómo sus fotos están siendo evaluadas.</p>
                            <h4>3.- Compartir información</h4>
                            <p>FotoJoin no vende su información a nadie. Sin embargo, si mostraremos información disponible públicamente a otros usuarios y podemos entregar información a las autoridades pertinentes si así lo requiere la ley.</p>
                            <h4>4.- Seguridad de la información</h4>
                            <p>La información de su cuenta FotoJoin está protegida por un una contraseña para su privacidad y seguridad, de igual manera usted deberá proteger esta por sus medios. Nuestros empleados no podrán acceder a su cuenta a menos que sea necesario realizar un trabajo específico (por ejemplo, representante de servicio al cliente).</p>
                            <h4>5.- Formas de controlar la visualizaci ón y el uso de su información</h4>
                            <p>Como se especificó anteriormente, si al momento de registrarse usted no desea vender sus fotografías sino simplemente darse a conocer a través del sitio, no será necesario rellenar el apartado de su dirección personal. Sin embargo, no podrá acceder a los beneficios que significa la venta de fotografías (prlan de pago), de todas maneras usted seguirá recibiendo email de nosotros cuando usted necesite un cambio de contraseña o quiera saber cómo están siendo evaluadas sus fotografías.</p>
                            <h4>6.- Registro de menores de edad</h4>
                            <p>El registro es abierto sin restricción de edad, sin embargo, y como bien establecido en los Términos y Condiciones, hay fotografías  subidas bajo la categoría de “desnudo artístico”, estas específicamente serán exclusivamente para personas mayores de 18 años.</p>
                            <h4>7.- Cambios en las políticas de privacidad</h4>
                            <p>FotoJoin se reserva el derecho de realizar cambios en las  políticas de privacidad en cualquier circunstancia. De ser este el caso se notificará a través del sitio para que usted esté siempre al tanto de lo que acontece.</p>
                            <h4>8.- Condiciones de uso</h4>
                            <p>Si usted decide visitar el sitio web FotoJoin.com, su visita y cualquier disputa sobre privacidad está sujeta bajo esta política de privacidad y nuestros Términos y condiciones.</p>
                            <h4>9.- Fecha efectiva de estas políticas de privacidad</h4>
                            <p>Esta política de privacidad es efectiva desde el 6 de Enero de 2014</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}