{% block landing %}
    <header id="header">
        <div id="layer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="header-content">
                            <h2>¿Te gusta la fotografía?</h2>
                            <a href="#timeline" class="btn btn-outline btn-xl page-scroll">Comenzar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
