{% block copyright %}
    <div class="section" id="copyright">
        <div class="container">
            <div class="row">
                <p>Copyright 2015 Fotojoin. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
{% endblock %}