{% block pricing %}
    <div class="section" id="pricing">
        <div class="container">
            <h2 class="text-center">Planes y Precio</h2>
            <div class="section-subtitle text-center">No necesitamos tu tarjeta de crédito,&nbsp;<strong class="bold-text"></strong>30 días de garantía de devolución del dinero.</div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="plan-wrapper" data-ix="fade-in-on-scroll">
                        <h3>Gratis</h3>
                        <div class="price-point"><strong class="price-accent">$0</strong> / 6 meses</div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Carga</span> <strong>Limitada</strong>
                        </div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Filtro&nbsp;</span>
                            <strong>Automático</strong>
                        </div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Estadistica&nbsp;</span>
                            <strong>Individuales</strong>
                        </div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Contacto&nbsp;</span>
                            <strong>Limitado</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plan-wrapper" data-ix="fade-in-on-scroll">
                        <h3>Fotógrafos</h3>
                        <div class="price-point"><strong class="price-accent">$9.990</strong>&nbsp;/anual</div>
                        <div class="price-point">Carga <strong>Ilimitada</strong></div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Filtro&nbsp;</span>
                            <strong>Configurable</strong>
                        </div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Estadísticas&nbsp;</span>
                            <strong>Reporte</strong>
                        </div>
                        <div class="price-point">
                            <span style="font-size: 20px;">Contacto&nbsp;</span>
                            <strong>Ilimitado</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="additional-contact text-center">Necesitas más información? <a class="page-link" href="#">Contáctanos</a>!!</div>
        </div>
    </div>
{% endblock %}